@model HiddenBlog.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm())
{
    <p class="text-danger">@Html.Encode(ViewBag.Error)</p>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <p>ID: @Html.EditorFor(i => i.ID, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p>PW: @Html.EditorFor(i => i.Password, new { htmlAttributes = new { @class = "form-control" } })</p>
    <input type="submit" value="Sign" class="btn btn-default" />
    <p class="btn btn-default">@Html.ActionLink("SignUp", "SignUp")</p>
}